body {
  font-family: sans-serif;
  margin: 0;
  background: #f9f9f9;
}

header {
  padding: 10px 20px;
  background: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.logo {
  font-family: cursive;
  color: goldenrod;
  font-size: 24px;
}

