.add-btn {
  float: right;
  margin-bottom: 10px;
  background: orange;
  border: none;
  padding: 8px 12px;
  color: black;
  border-radius: 5px;
  cursor: pointer;
}
main {
  display: flex;
  padding: 20px;
}

.sidebar {
  width: 220px;
  padding-right: 20px;
}

.search-form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 8px;
}

.search-form button {
  width: 100%;
  padding: 8px;
  background: gold;
  border: none;
  cursor: pointer;
}

#price-sort {
  width: 100%;
  padding: 8px;
}

.product-list {
  flex: 1;
}


.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.card {
  background: white;
  width: calc(33.333% - 10px);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(225, 220, 220, 0.1);
  overflow: hidden;
}

.card img {
  width: 100%;
  display: block;
}

.info {
  display: flex;
  justify-content: space-between;
  padding: 8px 12px;
}

.pagination {
  margin-top: 20px;
  text-align: center;
}

a {
  text-decoration: none;
}
